.vl{
    border-left: 3px solid white;
    height: 20px;
    width: 0;
    padding: 0;
    margin: 0;
}
.nav-tabs > li{
    padding: 0;
    height: 50px;
}
.nav-tabs{
    border-bottom: none;
}
/*.nav-tabs > .active{*/
    /*background-color: rebeccapurple;*/
    /*border-radius: 10px;*/
/*}*/
.nav-tabs > li > a{
    background-color: #2f2f2f;
    height: 50px;
    color: white!important;
}
.nav>li>a:focus, .nav>li>a:hover,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color:white;
    text-decoration: none;
    border: none!important;
    border-radius: 10px 10px 0 0;
    background-color: rebeccapurple!important;
}
.tab-content > .tab-pane {
    background-color: #2f2f2f;
    height: 150px;
    width: 100%;
}
.tab-content > .active {
    background-color: rebeccapurple;
    height: 100px;
    width: 100%;
}
.form-checkin{
    margin-top: 10px;
    border: none;
}
.form-checkin > p{
    color: rebeccapurple;
}
.form-checkin > input{
    background-color: #2f2f2f;
    border: none;
    border-radius: 5px;
}
.form-side {
    height: 180px;
    background-color: #2f2f2f;
    margin-top: 13px;
    border-radius: 10px;
}